<div class="container">
  <div class="row">
    <div class="slider-container">
      <%= render "posts/slider" %>
    </div>
    <br>
    <hr>
    <h1 class="post-title text-center">Newest Posts</h1>
    <div class="col-xs-12 blog-content">
      <% @posts.each do |post| %>
        <ul class="list-unstyled">
          <li class="media">
            <div class="image-container col-md-1 col-md-offset-1">
              <a class="media-left" href= "#">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image.url(:thumb), :class => "mr-1"%>
                <% end %>
              </a>
           </div>
            <div class="media-body">
              <div class="post-container col-md-10">
                <h2 class= "post-title"><%= link_to post.title, post_path(post) %></h2>
                <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
                <%= raw(post.caption).truncate_words(20) %>
              </div>
            </div>
          </li>
        </ul>
        <br>
      <% end %>
    </div>
  </div>
</div>