<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@rewindhiphop" />
<meta name="twitter:title" content="<%= @post.title %>" />
<meta name="twitter:description" content="<%= @post.caption %>" />
<meta name="twitter:image" content="<%= @post.image.url(:medium) %>" />

<div class="container">
    <div class="row">
      <h1 class="show-title text-center col-xs-12"><%= @post.title %></h1>
      <div class="text-center col-xs-12">
        <%= @post.created_at.strftime('%b %d, %Y') %>
      </div>
    </div>
    <div class="row">
      <div class ="image col-md-6 col-xs-12">
    	 <%= image_tag @post.image.url(:large), class: "show-image" %>
      </div>
      <div class="panel panel-default col-md-6 col-xs-12">
        <div class="panel-body">
          <div class="embed-responsive embed-responsive-16by9">
            <p class="embed-responsive-item"><%= raw @post.embed %></p>
          </div>
          <br>
          <p><strong><%= raw @post.caption %></strong></p>
          <p><%= raw @post.body %></p>
        </div>         
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <%= render_shareable :buttons=> ['twitter', 'facebook'] %>
      </div>
    </div>
</div>
  